<div class="wrapper">
  <aside class="sidebar">
    <section class="user-info">
      <h1>
        <!-- のちほどプロフィール画像を追加 -->
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="posts-list">
    <% if @user.posts.any? %>
    <h3>投稿(<%= @user.posts.count %>)</h3>
    <ol class="posts">
      <%= render @posts %>
    </ol>
    <% end %>
  </div>
</div>
