<div class="wrapper">
  <aside class="sidebar">
    <section class="user-info">
      <h1>
        <!-- のちほどプロフィール画像を追加 -->
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats', user: @user %>
    </section>
  </aside>
  <div class="liked-list">
    <h3><%= @title %></h3>
    <% if @posts.any? %>
      <ul class="users">
        <%= render @posts %>
      </ul>
    <% end %>
  </div>
</div>
