/* mixins, variables, etc
================================ */
$gray: #848484;
$gray-light: #eaeaea;
$blue-dark: #364a4d;
$blue-light: #1f89e2;
$green-light:  #239b76;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin round_corners_shadow {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: inner 0 0 2px rgba(0, 0, 0, 0.1);
}

%cf {
  &:before,&:after {
    content: "";
    display: table;
  }
  &:after {
    clear:both;
  }
}

.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/* 共通レイアウト
================================ */
body {
  padding-top: 60px;
  color: $blue-dark;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $blue-light;
  &:hover {
    text-decoration: underline;
    color: darken($blue-light, 5%)
  }
}

.container {
  width: 980px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  width: 100%;
  @extend %cf;
}

/* ボタン
================================ */
.btn{
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 16px;
  cursor: pointer;
}

/* フォント
================================ */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* ヘッダー
================================ */
.navbar {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin-bottom: 20px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  padding-top: 12px;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.header-right{
  float: right;
  margin: 0 auto;
  a {
    color: white;
    display: block;
    text-decoration: none;
  }
  li {
    line-height: 65px;
    padding: 0 18px;
    float: left;
    color: white;
  }
}

.vertical-line {
  height: 22px;
  margin-top: 22px;
  margin-right: -36px;
  border-left: 1px solid rgba(255,255,255,0.8);
}

.link-bg {
  background-color: rgba(255,255,255,0.3);
  transition: all 0.5s;
  &:hover {
    background-color: rgba(255,255,255,0.5);
  }
}

/* フッター
================================ */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-light;
  color: $gray;
  small {
    float: left;
  }
}

/* サインアップ - Gatebookへようこそ
================================ */
.greeting {
  padding-top: 40px;
  margin-bottom: 30px;
  width: 40%;
  float: left;
  h1 {
    font-size: 4em;
    line-height: 1.2;
  }
  img {
    width: 40%;
  }
}

.account-info-form {
  width: 40%;
  border: 0;
  margin-top: 160px;
  margin-bottom: 30px;
  float: right;
}

.primary-btn {
  background-color: $green-light;
  &:hover {
    background-color: lighten($green-light, 5%)
  }
}

.login-btn {
  font-size: 18px;
  background-color: $blue-light;
  &:hover {
    background-color: lighten($blue-light, 5%)
  }
}


/* プロフィール編集ページ
================================ */
.edit {
  width: 480px;
  margin: 0 auto;
  .account-info-form {
    width: 100%;
    float: none;
    margin-top: 80px;
  }
}
.save-btn {
  background-color: $green-light;
  &:hover {
    background-color: lighten($green-light, 5%)
  }
}

/* フォーム
================================ */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  @include round_corners-shadow;
}

input {
  height: auto !important;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* アラート
================================ */
.alert {
  margin-top: 6px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: small;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

/* サイドバー 
================================ */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.sidebar { 
  width: 32%;
  float: left;
}

/* 全てのユーザー一覧
================================ */
.users {
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-light;
  }
}

/* 投稿
================================ */
.posts {
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .content {
    display: block;
    img {
      display: block;
      padding: 5px 0;
    }
  }
}
  .timestamp {
    color: $gray;
    display: block;
  }
  
aside {
  textarea {
    height: 120px;
    margin-bottom: 5px;
    font-size: 14px;
    padding-left: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
.posts-list {
  width: 58%;
  float: right;
  h3 {
    margin-left: 37px;
  }
}
