<header class="navbar">
  <div class="container">
    <%= link_to "Gatebook", root_path, id: "logo" %>
    <nav>
      <div class="header-right">
        <a href="#" class="login">ログイン</a>
      </div>
    </nav>
  </div>
</header>
